@import "tailwindcss";


@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
  display: flex;
  width: max-content;
}

:root {
  --font-body-letter-spacing: 1px;
  --font-accent-color: rgb(0, 222, 230);
  --font-secondary-color: #E6E1D3;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-termina), sans-serif;
    letter-spacing: var(--font-body-letter-spacing);
    background: #ffffff;
    color: #171717;
  }
}

@layer utilities {
  .site-inner {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}